* {
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #03030B;
    overflow: hidden;
}


/* caption */

.container{
    width: 100%;
    height: 100%;
}

.home{
    width: 100%;
    height: 100%;
    background-image: url("img/captain/home.png");
    background-size: cover;
    background-position: center;
    display: none;
    cursor: pointer;
}

.home-crew{
    background-image: url("img/crew/home.png");
}

.select{
    width: 100%;
    height: 100%;
    display: none;
    background-image: url("img/captain/p1.png");
    background-size: cover;
    background-position: center;
}

.adjust{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adjust div{
    cursor: pointer;
    /* border: 3px solid white; */
}

.select .left{
    width: 50%;
    height: 100%;
}

.select .right{
    width: 50%;
    height: 100%;
}

.gogobar{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background-image: url("img/captain/bar.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.range-slider{
    height: 50%;
}

.loading{
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("img/loading.png");
    background-size: cover;
    background-position: center;
}

.controller{
    display: none;
    width: 100%;
    height: 100%;

}

.controller-caption{
    background-image: url("img/controller/bg/captain.png");
    background-size: cover;
    background-position: center;
}

.controller-crew{
    background-image: url("img/controller/bg/crew.png");
    background-size: cover;
    background-position: center;
}

.panel{    
    height: 66%;
    width: 68%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.panel-caption{
    top: 53%;
    left: 10%;
    transform: translateY(-50%);
}

.panel-crew{
    top: 53%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.slider-contain{
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.range-slider-control{
    height: 80%;
}

.icon{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}